:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Fraunces", serif;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cream);
}

main {
  display: flex;
  width: 600px;
  background-color: var(--white);
  border-radius: 12px;
  overflow: hidden;
  height: 500px;
}

.img-box {
  width: 50%;
}
.img-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.text-body {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 24px;
  justify-content: space-around;
}

.text-body h1 {
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 14px;
  color: var(--dark-grayish-blue);
}

.text-body h2 {
  color: var(--very-dark-blue);
  font-size: 36px;
}
.text-body p {
  font-size: 14px;
  font-family: "montserrat", sans-serif;
  color: var(--dark-grayish-blue);
  width: 24ch;
}

.text-body h3 {
  color: var(--dark-cyan);
  font-size: 24px;
}
.text-body span {
  font-size: 14px;
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
}
.text-body .price {
  display: flex;
  align-items: center;
  gap: 12px;
}
.text-body button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;

  padding: 12px 24px;
  border-radius: 12px;
  color: var(--white);
  background-color: var(--dark-cyan);
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.text-body button:hover {
  background-color: hsl(158, 36%, 20%);
}

@media (max-width: 960px) {
  body {
    display: flex;
  }
  main {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    height: 712px;
  }
  .img-box {
    width: 100%;
    overflow: hidden;
    height: 50%;
  }

  .text-body {
    width: 100%;
    display: flex;
    flex-direction: column;

    height: 70%;
    border-radius: 12px;
  }
  .text-body p {
    width: 32ch;
  }
}
